@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow: hidden;

  @media screen and (max-width: 800px) {
    font-size: 55%;
  }
  @media screen and (max-width: 600px) {
    font-size: 45%;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $black-text-color;
}
