$blue: #375f9d;
$light-blue: #85b0f2;
$dark-blue: #19417f;
$ligtest-blue: #d9e8ff;
$number-color: #2c98f0;
$white-text-color: rgba(255, 255, 255, 0.87);
$black-text-color: rgba(0, 0, 0, 0.87);
$line-color: #c4c4c4;
$bg-repo: rgba(228, 222, 222, 0.479);
//////////

$body-height: 92vh;
