.blank-search-page {
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  color: $light-blue;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
  }
}
