.user-detail-main {
  display: flex;
  margin: 5rem 0rem;
  flex-direction: column;
  padding-right: 2rem;
  &__title {
    display: flex;
    margin-bottom: 2rem;

    &__number-box {
      border: 2px solid $light-blue;
      margin-left: 3rem;
      width: 5rem;
      font-size: 1.2rem;
      color: $light-blue;
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }
  }

  &__repo {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: $bg-repo;
    box-shadow: 0 0 2px 3px $bg-repo;
    border-radius: 10px;

    &__repo-title {
      display: flex;
      margin-bottom: 1rem;
    }
  }
}
